<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>a</title>
    <link rel="stylesheet" href="/Comn/main_window.css" id="main_css">

</head>
<body>

<div id="main_window">
    <div class="menu_wrapper">

        <div class="quests_menu">
            <button class="quests_button">クエスト</button>
        </div>
        <div class="status_menu">
            <button class="status_button">ステータス</button>
        </div>
        <div class="shop_menu">
            <button class="shop_button">ショップ</button>
        </div>
        <div class="achievements_menu">
            <button class="achieve_button">業績</button>
        </div>
        <div class="party_menu">
            <button class="party_button">パーティ</button>
        </div>
        <div class="Options_menu">
            <button class="Options_button">設定</button>
        </div>

    </div>
</div>
</body>
</html>